In [31]:
import pandas as pd
import math
import datetime
from datetime import datetime, timedelta
from datetime import datetime, time
import os
# df = pd.read_csv('/home/ubuntu/eSportData/jupyter-data/VU_AMS/s1/192_07141428_ECG.txt')
ids = str(9)
file_path_acc = os.path.join('/home/ubuntu/eSportData/jupyter-data/akcelerometry/S2/S2_257.csv')
txs = ['257_m10.txt','257_m11.txt', '257_m12.txt','257_m13.txt','257_m14.txt', '257_m15.txt', '257_m16.txt', '257_m17.txt', '257_m18.txt']
# time = '11:50:10.500'
df_dz = pd.read_csv("/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2/257_09120924_DZ.txt", sep=" ", header=None, names=['index', 'DZ', 'marker1', 'marker2', 'dummy'], skiprows = 3)
df_dzdt = pd.read_csv("/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2/257_09120924_DZDT.txt", sep=" ", header=None, names=['index', 'DZDT', 'marker1', 'marker2', 'dummy', 'dummy2'], skiprows = 3)
df_ecg = pd.read_csv("/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2/257_09120924_ECG.txt", sep=" ", header=None, names=['index', 'ECG', 'marker1', 'marker2', 'dummy', 'dummy2'], skiprows = 3)
df_z0 = pd.read_csv("/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2/257_09120924_Z0.txt", sep=" ", header=None, names=['index', 'Z0', 'marker1', 'marker2', 'dummy', 'dummy2'], skiprows = 3)
df_z0 = pd.concat([pd.DataFrame({'index': [df_z0['index'].min() - 1], 'Z0': [df_z0['Z0'].iloc[0]], 'marker1': [df_z0['marker1'].iloc[0]]}), df_z0])
new_index = range(df_z0['index'].min(), df_z0['index'].max() + 1)
df_z0 = df_z0.set_index('index').reindex(new_index)                    
df_z0 = df_z0.ffill()
df_z0 = df_z0.reset_index()

In [32]:
df_ecg

           index       ECG  marker1  marker2  dummy  dummy2
0              1  0.006697    -9999    -9999    NaN     NaN
1              2  0.006019    -9999    -9999    NaN     NaN
2              3  0.006358    -9999    -9999    NaN     NaN
3              4  0.006697    -9999    -9999    NaN     NaN
4              5  0.008053    -9999    -9999    NaN     NaN
...          ...       ...      ...      ...    ...     ...
5120971  5120972 -0.071463    -9999    -9999    NaN     NaN
5120972  5120973 -0.062986    -9999    -9999    NaN     NaN
5120973  5120974 -0.050100    -9999    -9999    NaN     NaN
5120974  5120975 -0.035181    -9999    -9999    NaN     NaN
5120975  5120976 -0.020430    -9999    -9999    NaN     NaN

[5120976 rows x 6 columns]

In [33]:
markers_keys = {'201':'m10', '215':'m11', '225':'m12', '235':'m13', '245':'m14', '255':'m15', '265':'m16', '275':'m17', '285':'m18'}
col_names = ['timestamp','ECG', 'DZ', 'DZDT', 'Z0', 'marker']

In [34]:
def extract_time_from_file(filename):
    try:
        with open(filename, 'r') as file:
            # Skip the first row
            next(file)
            # Read the second row
            second_row = next(file).strip()
            # Split by "/"
            parts = second_row.split("/")
            # Return the time part after "/"
            return parts[1]
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
        return None

In [35]:
def merge_vs_tx(start_markers, vuams, beat, columns, da_df, tls, keys):
    for markers in start_markers[1:]:
        
    # da_sync_idx_m1 = da.index[da['marker'] == markers][0]
        da_sync_value = str(da_df.loc[markers, 'marker'])
        print(da_sync_value)
        which_index = start_markers.index(markers)
        print(which_index)
        print(tls[which_index].index[tls[which_index]['marker_tx'] == keys[da_sync_value]][0])
        tx_sync_idx_m1 = tls[which_index].index[tls[which_index]['marker_tx'] == keys[da_sync_value]][0]
        
        rows_diff = tx_sync_idx_m1 - markers
        if markers != start_markers[-1]:
            for row in range(markers,markers + 270000): #rząd
                # print(da_bc_list[row])
                for value_idx in range(len(vuams[row])):
                    if vuams[markers][value_idx] == 215:
                        try:
                    #     for i_2 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[1][row+rows_diff][1]
                            vuams[row][8] = beat[1][row+rows_diff][2]
                            vuams[row][9] = beat[1][row+rows_diff][3]
                            vuams[row][10] = beat[1][row+rows_diff][4]
                            vuams[row][11] = beat[1][row+rows_diff][5]
                            vuams[row][12] = beat[1][row+rows_diff][6]
                            vuams[row][13] = beat[1][row+rows_diff][7]
                            vuams[row][14] = beat[1][row+rows_diff][8]
                            vuams[row][15] = beat[1][row+rows_diff][9]
                            vuams[row][16] = beat[1][row+rows_diff][10]
                            vuams[row][17] = beat[1][row+rows_diff][11]
                        except:
                            pass
                    
                    elif vuams[markers][value_idx] == 225:
                        try:
                        # for i_3 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[2][row+rows_diff][1]
                            vuams[row][8] = beat[2][row+rows_diff][2]
                            vuams[row][9] = beat[2][row+rows_diff][3]
                            vuams[row][10] = beat[2][row+rows_diff][4]
                            vuams[row][11] = beat[2][row+rows_diff][5]
                            vuams[row][12] = beat[2][row+rows_diff][6]
                            vuams[row][13] = beat[2][row+rows_diff][7]
                            vuams[row][14] = beat[2][row+rows_diff][8]
                            vuams[row][15] = beat[2][row+rows_diff][9]
                            vuams[row][16] = beat[2][row+rows_diff][10]
                            vuams[row][17] = beat[2][row+rows_diff][11]
                        except:
                            pass
                        
                    elif vuams[markers][value_idx] == 235:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[3][row+rows_diff][1]
                            vuams[row][8] = beat[3][row+rows_diff][2]
                            vuams[row][9] = beat[3][row+rows_diff][3]
                            vuams[row][10] = beat[3][row+rows_diff][4]
                            vuams[row][11] = beat[3][row+rows_diff][5]
                            vuams[row][12] = beat[3][row+rows_diff][6]
                            vuams[row][13] = beat[3][row+rows_diff][7]
                            vuams[row][14] = beat[3][row+rows_diff][8]
                            vuams[row][15] = beat[3][row+rows_diff][9]
                            vuams[row][16] = beat[3][row+rows_diff][10]
                            vuams[row][17] = beat[3][row+rows_diff][11]
                        except:
                            pass
                    elif vuams[markers][value_idx] == 245:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[4][row+rows_diff][1]
                            vuams[row][8] = beat[4][row+rows_diff][2]
                            vuams[row][9] = beat[4][row+rows_diff][3]
                            vuams[row][10] = beat[4][row+rows_diff][4]
                            vuams[row][11] = beat[4][row+rows_diff][5]
                            vuams[row][12] = beat[4][row+rows_diff][6]
                            vuams[row][13] = beat[4][row+rows_diff][7]
                            vuams[row][14] = beat[4][row+rows_diff][8]
                            vuams[row][15] = beat[4][row+rows_diff][9]
                            vuams[row][16] = beat[4][row+rows_diff][10]
                            vuams[row][17] = beat[4][row+rows_diff][11]
                        except:
                            pass
                    elif vuams[markers][value_idx] == 255:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[5][row+rows_diff][1]
                            vuams[row][8] = beat[5][row+rows_diff][2]
                            vuams[row][9] = beat[5][row+rows_diff][3]
                            vuams[row][10] = beat[5][row+rows_diff][4]
                            vuams[row][11] = beat[5][row+rows_diff][5]
                            vuams[row][12] = beat[5][row+rows_diff][6]
                            vuams[row][13] = beat[5][row+rows_diff][7]
                            vuams[row][14] = beat[5][row+rows_diff][8]
                            vuams[row][15] = beat[5][row+rows_diff][9]
                            vuams[row][16] = beat[5][row+rows_diff][10]
                            vuams[row][17] = beat[5][row+rows_diff][11]
                        except:
                            pass
                    elif vuams[markers][value_idx] == 265:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[6][row+rows_diff][1]
                            vuams[row][8] = beat[6][row+rows_diff][2]
                            vuams[row][9] = beat[6][row+rows_diff][3]
                            vuams[row][10] = beat[6][row+rows_diff][4]
                            vuams[row][11] = beat[6][row+rows_diff][5]
                            vuams[row][12] = beat[6][row+rows_diff][6]
                            vuams[row][13] = beat[6][row+rows_diff][7]
                            vuams[row][14] = beat[6][row+rows_diff][8]
                            vuams[row][15] = beat[6][row+rows_diff][9]
                            vuams[row][16] = beat[6][row+rows_diff][10]
                            vuams[row][17] = beat[6][row+rows_diff][11]
                        except:
                            pass
                    elif vuams[markers][value_idx] == 275:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[7][row+rows_diff][1]
                            vuams[row][8] = beat[7][row+rows_diff][2]
                            vuams[row][9] = beat[7][row+rows_diff][3]
                            vuams[row][10] = beat[7][row+rows_diff][4]
                            vuams[row][11] = beat[7][row+rows_diff][5]
                            vuams[row][12] = beat[7][row+rows_diff][6]
                            vuams[row][13] = beat[7][row+rows_diff][7]
                            vuams[row][14] = beat[7][row+rows_diff][8]
                            vuams[row][15] = beat[7][row+rows_diff][9]
                            vuams[row][16] = beat[7][row+rows_diff][10]
                            vuams[row][17] = beat[7][row+rows_diff][11]
                        except:
                            pass
        elif markers == start_markers[-1]:
            for row in range(markers,markers + 150000): #rząd
                # print(da_bc_list[row])
                for value_idx in range(len(vuams[row])):
                       
                
                    if vuams[markers][value_idx] == 285:
                        try:
                        # for i_4 in range(row, len(da_bc_list)):
                            vuams[row][7] = beat[8][row+rows_diff][1]
                            vuams[row][8] = beat[8][row+rows_diff][2]
                            vuams[row][9] = beat[8][row+rows_diff][3]
                            vuams[row][10] = beat[8][row+rows_diff][4]
                            vuams[row][11] = beat[8][row+rows_diff][5]
                            vuams[row][12] = beat[8][row+rows_diff][6]
                            vuams[row][13] = beat[8][row+rows_diff][7]
                            vuams[row][14] = beat[8][row+rows_diff][8]
                            vuams[row][15] = beat[8][row+rows_diff][9]
                            vuams[row][16] = beat[8][row+rows_diff][10]
                            vuams[row][17] = beat[8][row+rows_diff][11]
                        except:
                            pass
    merged_df = pd.DataFrame(vuams, columns =columns)
    return merged_df

In [36]:
time = extract_time_from_file("/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2/257_09120924_DZ.txt")

In [37]:
time

'09:24:45.500'

In [38]:
def calculate_deltatime(time_col_vms, time_col_bs):
    time_diff = datetime.strptime(str(time_col_vms), '%H:%M:%S.%f') - datetime.strptime(str(time_col_bs),'%H:%M:%S.%f')
    return time_diff

In [39]:
ecg_col = df_ecg['ECG']
dz_col = df_dz['DZ']
dzdt_col = df_dzdt['DZDT']
z0_col = df_z0['Z0']
marker = df_ecg['marker2']
min_length = len(df_z0)
df_ecg = df_ecg.head(min_length)
df_dz = df_dz.head(min_length)
df_dzdt = df_dzdt.head(min_length)
data_dict = {'ECG': ecg_col, 'DZ': dz_col, 'DZDT': dzdt_col, 'Z0': z0_col, 'marker':marker}
da = pd.DataFrame(data_dict, index=df_dzdt.index, columns=col_names)

In [40]:
da.iloc[0,0] = time

In [41]:
da['timestamp'] = pd.to_datetime(da['timestamp'], format='%H:%M:%S.%f')
first_valid_index = 0

not_null_time = da.loc[first_valid_index, 'timestamp']
da_list = da.values.tolist()
for i in range(first_valid_index + 1, len(da_list)):
    not_null_time += timedelta(milliseconds=1)
    # time_values_str = [time.strftime('%H:%M:%S.%f') for time in time_values]
    da_list[i][0] = not_null_time
da = pd.DataFrame(da_list, columns =col_names)
da['timestamp'] = da['timestamp'].dt.time

In [42]:
da

               timestamp       ECG        DZ      DZDT         Z0  marker
0        09:24:45.500000  0.006697  0.001175  0.144961   8.954090   -9999
1        09:24:45.501000  0.006019  0.001450  0.282292   8.954090   -9999
2        09:24:45.502000  0.006358  0.001724  0.312810   8.954090   -9999
3        09:24:45.503000  0.006697  0.002060  0.358587   8.954090   -9999
4        09:24:45.504000  0.008053  0.002426  0.343328   8.954090   -9999
...                  ...       ...       ...       ...        ...     ...
5120969  10:50:06.469000 -0.075532  0.373159 -0.282292  10.119658   -9999
5120970  10:50:06.470000 -0.075532  0.372793 -0.312810  10.119658   -9999
5120971  10:50:06.471000 -0.071463  0.372519 -0.251774  10.119658   -9999
5120972  10:50:06.472000 -0.062986  0.372274 -0.251774  10.119658   -9999
5120973  10:50:06.473000 -0.050100  0.372000 -0.343328  10.119658   -9999

[5120974 rows x 6 columns]

In [43]:
import re
import os

bs_columns = ['timestamp', 'SBP', 'DBP', 'MBP', 'HR', 'SV', 'LVET', 'PI', 'MS', 'CO', 'TPR', 'TPRCGS', 'marker_tx', 'dummy']
extended_txs = []
pattern = fr'(?<![0-9m]){re.escape(ids)}(?![0-9])'

# txs = ['299_m0.txt','299_m1.txt', '299_m2.txt','299_m3.txt','299_m4.txt']
txs.sort()
print(txs)
for tx in txs:
    file_path_tx = os.path.join('/home/ubuntu/eSportData/jupyter-data/beatscope/Pliki/S2', tx)
    tx_df = pd.read_csv(file_path_tx, sep=';', header=None, skiprows=10, encoding='cp1250', decimal=',', names=bs_columns)
    # Convert timestamp using pd.DatetimeIndex
    tx_df['timestamp'] = pd.to_datetime(tx_df['timestamp'], format='%H:%M:%S,%f')
    print(tx_df.timestamp[100])
                # Dropping duplicates

    # tx_df = tx_df[~tx_df.duplicated('timestamp', keep='first')]
    # try:
    #     tx_df = tx_df[~tx_df.duplicated('timestamp', keep='first')]
    #     print(tx_df.index[tx_df['marker_tx'].notna()][0])
    # except:
    #     tx_df = tx_df[~tx_df.duplicated('timestamp', keep='last')]
    #     print(tx_df.index[tx_df['marker_tx'].notna()][0])
                # Extending
    tx_df = tx_df.set_index('timestamp')
    tx_df = tx_df.resample('ms').ffill()
    tx_df = tx_df.reset_index()
    tx_df['timestamp'] = tx_df['timestamp'].dt.time
    extended_txs.append(tx_df)

        # Asserting end of bs measurement         
    extended_txs[-1].iloc[extended_txs[-1].index.max(), -2] = 'End'

['257_m10.txt', '257_m11.txt', '257_m12.txt', '257_m13.txt', '257_m14.txt', '257_m15.txt', '257_m16.txt', '257_m17.txt', '257_m18.txt']
1900-01-01 09:35:13.443000
1900-01-01 09:48:00.594000
1900-01-01 09:55:53.536000
1900-01-01 10:03:53.737000
1900-01-01 10:11:38.721000
1900-01-01 10:19:41.695000
1900-01-01 10:27:49.924000
1900-01-01 10:35:55.405000
1900-01-01 10:43:45.596000

In [44]:
da_sync_idx = da.index[da['marker'] != -9999][0] - 240000
da_sync_idx2 = da.index[da['marker'] != -9999][0]
for i in range(da_sync_idx, da_sync_idx2):
    da.iloc[i, 5] = 1
print('check 3.2')
            
            # da_sync_idx = da.index[da['marker'] != -9999][0] - 240000

garry = extended_txs[0]
tx_sync_idx = garry.index[garry['marker_tx'].notna()][0]

            # print(merged_tx.iloc[tx_sync_idx])
print('check 3.3')
            
assert garry.at[tx_sync_idx, 'marker_tx'].startswith('m')
            
rows_diff = tx_sync_idx - da_sync_idx
print(rows_diff)
if rows_diff > 0:  # 
    garry = garry.iloc[rows_diff:]
    garry = garry.reset_index(drop=True)
else:
    da = da.iloc[-rows_diff:]
    da = da.reset_index(drop=True)

check 3.2
check 3.3
-452502

In [45]:
da_bc = da.merge(garry, how='left', left_index=True, right_index=True)

In [46]:
da

               timestamp       ECG        DZ      DZDT         Z0  marker
0        09:32:18.002000  0.066038 -0.088975  0.572213   9.062515   -9999
1        09:32:18.003000  0.065020 -0.088365  0.541695   9.062515   -9999
2        09:32:18.004000  0.064851 -0.087907  0.526436   9.062515   -9999
3        09:32:18.005000  0.064681 -0.087327  0.602731   9.071551   -9999
4        09:32:18.006000  0.064003 -0.086717  0.572213   9.071551   -9999
...                  ...       ...       ...       ...        ...     ...
4668467  10:50:06.469000 -0.075532  0.373159 -0.282292  10.119658   -9999
4668468  10:50:06.470000 -0.075532  0.372793 -0.312810  10.119658   -9999
4668469  10:50:06.471000 -0.071463  0.372519 -0.251774  10.119658   -9999
4668470  10:50:06.472000 -0.062986  0.372274 -0.251774  10.119658   -9999
4668471  10:50:06.473000 -0.050100  0.372000 -0.343328  10.119658   -9999

[4668472 rows x 6 columns]

In [47]:
time_col = da['timestamp']

In [48]:
trials = [pd.merge(time_col, tx, on='timestamp', how='left') for tx in extended_txs]

In [49]:
trials[2]

,timestamp,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,marker_tx,dummy
0,09:32:18.002000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09:32:18.003000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09:32:18.004000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09:32:18.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09:32:18.006000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4668467,10:50:06.469000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668468,10:50:06.470000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668469,10:50:06.471000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668470,10:50:06.472000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668471,10:50:06.473000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
print(trials[5].index[trials[5]['marker_tx'] == 'm15'])

Index([2782829, 2782830, 2782831, 2782832, 2782833, 2782834, 2782835, 2782836,
       2782837, 2782838,
       ...
       2783654, 2783655, 2783656, 2783657, 2783658, 2783659, 2783660, 2783661,
       2783662, 2783663],
      dtype='int64', length=835)

In [51]:
trials[2].iloc[1370891]

timestamp    09:55:08.893000
SBP                    134.0
DBP                     86.0
MBP                    100.0
HR                      75.0
SV                      74.3
LVET                   285.0
PI                     805.0
MS                     971.0
CO                       5.5
TPR                    1.087
TPRCGS                1449.0
marker_tx                NaN
dummy                    NaN
Name: 1370891, dtype: object

In [52]:
txs_list = [trial.values.tolist() for trial in trials]
# txs_list = [trial.values.tolist() for trial in trials[1:]]
# tx_list = txs_list[0]
da_bc_list = da_bc.values.tolist()

In [53]:
print(df_dz.index[df_dz['marker2'] == 215])

Index([1235600, 1235601, 1235602, 1235603, 1235604, 1235605, 1235606, 1235607,
       1235608, 1235609,
       ...
       1295590, 1295591, 1295592, 1295593, 1295594, 1295595, 1295596, 1295597,
       1295598, 1295599],
      dtype='int64', length=60000)

In [54]:
# markers_keys = {'201':'m10', '215':'m11', '226':'m12', '235':'m13', '245':'m14', '255':'m15', '265':'m16', '275':'m17', '285':'m18'}

In [55]:
start_0 = da_bc.index[da_bc['marker'] ==201][0]
start_1 = da_bc.index[da_bc['marker'] ==215][0]
start_2 = da_bc.index[da_bc['marker'] == 225][0]
start_3 = da_bc.index[da_bc['marker'] == 235][0]
start_4 = da_bc.index[da_bc['marker'] == 245][0]
start_5 = da_bc.index[da_bc['marker'] == 255][0]
start_6 = da_bc.index[da_bc['marker'] == 265][0]
start_7 = da_bc.index[da_bc['marker'] == 275][0]
start_8 = da_bc.index[da_bc['marker'] == 285][0]
start_markers = [start_0, start_1, start_2, start_3, start_4, start_5, start_6, start_7, start_8]

In [56]:
trials[6]

,timestamp,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,marker_tx,dummy
0,09:32:18.002000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09:32:18.003000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09:32:18.004000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09:32:18.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09:32:18.006000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4668467,10:50:06.469000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668468,10:50:06.470000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668469,10:50:06.471000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668470,10:50:06.472000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668471,10:50:06.473000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
print(da[da['marker'] == 265])

               timestamp       ECG        DZ      DZDT        Z0  marker
3172290  10:25:10.292000  0.016192 -0.063554  0.251774  9.143834     265
3172291  10:25:10.293000  0.017717 -0.063340  0.221256  9.143834     265
3172292  10:25:10.294000  0.018735 -0.063127  0.190738  9.143834     265
3172293  10:25:10.295000  0.019243 -0.062974  0.221256  9.143834     265
3172294  10:25:10.296000  0.019922 -0.062699  0.236515  9.143834     265
...                  ...       ...       ...       ...       ...     ...
3232285  10:26:10.287000  0.014327  0.025071  0.053407  9.369719     265
3232286  10:26:10.288000  0.014666  0.025071  0.038148  9.369719     265
3232287  10:26:10.289000  0.014835  0.025132  0.099184  9.369719     265
3232288  10:26:10.290000  0.013987  0.025254  0.129702  9.369719     265
3232289  10:26:10.291000  0.013479  0.025376  0.068666  9.369719     265

[60000 rows x 6 columns]

In [59]:
da_bs_columns = ['timestamp_x', 'ECG','DZ' ,'DZDT','Z0', 'marker', 'timestamp_y', 'SBP', 'DBP', 'MBP', 'HR', 'SV', 'LVET', 'PI', 'MS', 'CO', 'TPR', 'TPRCGS', 'marker_tx','dummy']
df_tx = merge_vs_tx(start_markers, da_bc_list, txs_list, da_bs_columns, da_bc, trials, markers_keys)

215
1
879739
225
2
1357687
235
3
1832467
245
4
2295522
255
5
2782829
265
6
3268672
275
7
3751149
285
8
4233180

In [60]:
df_tx

,timestamp_x,ECG,DZ,DZDT,Z0,marker,timestamp_y,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,marker_tx,dummy
0,09:32:18.002000,0.066038,-0.088975,0.572213,9.062515,-9999,09:33:54.625000,0.0,0.0,0.0,80.0,0.0,0.0,750.0,0.0,0.0,0.0,0.0,NaN,NaN
1,09:32:18.003000,0.065020,-0.088365,0.541695,9.062515,-9999,09:33:54.626000,0.0,0.0,0.0,80.0,0.0,0.0,750.0,0.0,0.0,0.0,0.0,NaN,NaN
2,09:32:18.004000,0.064851,-0.087907,0.526436,9.062515,-9999,09:33:54.627000,0.0,0.0,0.0,80.0,0.0,0.0,750.0,0.0,0.0,0.0,0.0,NaN,NaN
3,09:32:18.005000,0.064681,-0.087327,0.602731,9.071551,-9999,09:33:54.628000,0.0,0.0,0.0,80.0,0.0,0.0,750.0,0.0,0.0,0.0,0.0,NaN,NaN
4,09:32:18.006000,0.064003,-0.086717,0.572213,9.071551,-9999,09:33:54.629000,0.0,0.0,0.0,80.0,0.0,0.0,750.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4668467,10:50:06.469000,-0.075532,0.373159,-0.282292,10.119658,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668468,10:50:06.470000,-0.075532,0.372793,-0.312810,10.119658,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668469,10:50:06.471000,-0.071463,0.372519,-0.251774,10.119658,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668470,10:50:06.472000,-0.062986,0.372274,-0.251774,10.119658,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668471,10:50:06.473000,-0.050100,0.372000,-0.343328,10.119658,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
print(df_tx.index[df_tx['marker'] == 285])

Index([4137039, 4137040, 4137041, 4137042, 4137043, 4137044, 4137045, 4137046,
       4137047, 4137048,
       ...
       4197029, 4197030, 4197031, 4197032, 4197033, 4197034, 4197035, 4197036,
       4197037, 4197038],
      dtype='int64', length=60000)

In [62]:
df_tx.iloc[-100000]

timestamp_x    10:48:26.474000
ECG                  -0.035689
DZ                    0.021103
DZDT                 -0.236515
Z0                    9.342613
marker                   -9999
timestamp_y                NaN
SBP                        NaN
DBP                        NaN
MBP                        NaN
HR                         NaN
SV                         NaN
LVET                       NaN
PI                         NaN
MS                         NaN
CO                         NaN
TPR                        NaN
TPRCGS                     NaN
marker_tx                  NaN
dummy                      NaN
Name: 4568472, dtype: object

In [69]:
acc = pd.read_csv(file_path_acc, header=None, sep=';', encoding='cp1250', decimal=',', names = ['time', 'wr', 'tl', 'tr', '1', '2', '3'], usecols = ['time', 'wr', 'tl', 'tr'], skiprows = 11)  
acc = acc.iloc[:-4]
            
acc['time'] = acc['time'].astype(str)
acc['time'] = pd.to_datetime(acc['time'])

acc['timestamp'] = acc['time'].apply(lambda x: x + timedelta(microseconds=1000))
acc = acc.iloc[:-2]
acc['timestamp'] = pd.to_datetime(acc['timestamp'], format='%H:%M:%S.%f')
acc = acc.set_index('timestamp')
acc = acc.resample('ms').ffill()
acc = acc.reset_index()
acc['timestamp'] = acc['timestamp'].dt.time
acc = acc.drop(columns = ['time'])
        #   dropping values of acc to make it equal with txs
acc_sync_value = df_tx.iloc[0,0]
acc_sync_idx = acc['timestamp'].index[acc['timestamp'] == acc_sync_value][0]
            # acc = acc.iloc[acc_sync_idx-60000:]
acc_last_value = df_tx.iloc[-1,0]
acc_last_idx = acc['timestamp'].index[acc['timestamp'] == acc_last_value][0]
print(acc_last_value)
            # acc = acc.iloc[acc_sync_idx-60000:]
acc = acc.iloc[acc_sync_idx: acc_last_idx]
acc = acc.reset_index(drop=True)

In [26]:
df_tx

,timestamp_x,ECG,DZ,DZDT,Z0,marker,timestamp_y,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,marker_tx,dummy
0,11:47:01.440000,-0.181837,-0.115587,0.236515,9.577534,-9999,11:48:39.335000,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,NaN,NaN
1,11:47:01.441000,-0.184041,-0.115465,0.205997,9.577534,-9999,11:48:39.336000,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,NaN,NaN
2,11:47:01.442000,-0.185567,-0.115190,0.282292,9.577534,-9999,11:48:39.337000,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,NaN,NaN
3,11:47:01.443000,-0.187262,-0.114916,0.267033,9.577534,-9999,11:48:39.338000,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,NaN,NaN
4,11:47:01.444000,-0.188788,-0.114672,0.267033,9.577534,-9999,11:48:39.339000,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946457,13:09:27.897000,-0.364775,-0.108782,-0.083925,9.929915,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4946458,13:09:27.898000,-0.344430,-0.108812,-0.053407,9.929915,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4946459,13:09:27.899000,-0.324085,-0.108904,-0.038148,9.929915,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4946460,13:09:27.900000,-0.305265,-0.108904,-0.022889,9.929915,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4946461,13:09:27.901000,-0.287633,-0.108965,-0.099184,9.929915,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_tx = df_tx.drop(columns = ['timestamp_y'], axis = 1)
df_tx = df_tx.rename(columns={'timestamp_x': 'timestamp'})

In [28]:
df_all = df_tx.merge(acc, how='left', on = 'timestamp')
df_all['marker_y'] = df_all['marker']
df_all = df_all.drop(columns = ['dummy','marker', 'marker_tx'], axis = 1)
df_all = df_all.rename(columns={'marker_y': 'marker'})
df_all = df_all.iloc[:-2]

In [29]:
df_all

,timestamp,ECG,DZ,DZDT,Z0,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,wr,tl,tr,marker
0,11:47:01.440000,-0.181837,-0.115587,0.236515,9.577534,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
1,11:47:01.441000,-0.184041,-0.115465,0.205997,9.577534,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
2,11:47:01.442000,-0.185567,-0.115190,0.282292,9.577534,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
3,11:47:01.443000,-0.187262,-0.114916,0.267033,9.577534,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
4,11:47:01.444000,-0.188788,-0.114672,0.267033,9.577534,0.0,0.0,0.0,86.0,0.0,0.0,695.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946455,13:09:27.895000,-0.404957,-0.108476,-0.068666,9.929915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-9999
4946456,13:09:27.896000,-0.384951,-0.108629,-0.144961,9.929915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-9999
4946457,13:09:27.897000,-0.364775,-0.108782,-0.083925,9.929915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-9999
4946458,13:09:27.898000,-0.344430,-0.108812,-0.053407,9.929915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-9999
4946459,13:09:27.899000,-0.324085,-0.108904,-0.038148,9.929915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-9999

In [30]:
df_all.to_csv(f'/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2_output/S2_p258.csv', index=False)

In [62]:
import pandas as pd
file_patch = '/home/ubuntu/eSportData/jupyter-data/VU_AMS/s1_output/S1_p253.csv'

In [63]:
df_patch = pd.read_csv(file_patch)

In [64]:
df_patch

,timestamp,ECG,DZ,DZDT,Z0,SBP,DBP,MBP,HR,SV,LVET,PI,MS,CO,TPR,TPRCGS,wr,tl,tr,marker
0,09:21:45.072000,0.008053,-0.091814,0.144961,13.806105,0.0,0.0,0.0,70.0,0.0,0.0,855.0,0.0,0.0,0.0,0.0,-9999,-9999,-9999,-9999.0
1,09:21:45.073000,0.007545,-0.091630,0.129702,13.815140,0.0,0.0,0.0,70.0,0.0,0.0,855.0,0.0,0.0,0.0,0.0,-9999,-9999,-9999,-9999.0
2,09:21:45.074000,0.006697,-0.091569,0.114443,13.815140,0.0,0.0,0.0,70.0,0.0,0.0,855.0,0.0,0.0,0.0,0.0,-9999,-9999,-9999,-9999.0
3,09:21:45.075000,0.007036,-0.091417,0.160220,13.815140,0.0,0.0,0.0,70.0,0.0,0.0,855.0,0.0,0.0,0.0,0.0,-9999,-9999,-9999,-9999.0
4,09:21:45.076000,0.006697,-0.091264,0.175479,13.815140,0.0,0.0,0.0,70.0,0.0,0.0,855.0,0.0,0.0,0.0,0.0,-9999,-9999,-9999,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3806179,10:25:11.251000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999,-9999,-9999,-9999.0
3806180,10:25:11.252000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999,-9999,-9999,-9999.0
3806181,10:25:11.253000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999,-9999,-9999,-9999.0
3806182,10:25:11.254000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999,-9999,-9999,-9999.0
3806183,10:25:11.255000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999,-9999,-9999,-9999.0

In [67]:
print(df_patch.index[df_patch['marker'] == 35])

Index([3446640, 3446641, 3446642, 3446643, 3446644, 3446645, 3446646, 3446647,
       3446648, 3446649,
       ...
       3506630, 3506631, 3506632, 3506633, 3506634, 3506635, 3506636, 3506637,
       3506638, 3506639],
      dtype='int64', length=60000)

In [68]:
print(df_patch.iloc[3506639])

timestamp    10:20:11.711000
ECG                -0.017717
DZ                 -0.020127
DZDT               -1.121538
Z0                 14.041026
SBP                    105.0
DBP                     65.0
MBP                     82.0
HR                      74.0
SV                      79.3
LVET                   305.0
PI                     815.0
MS                     879.0
CO                       5.8
TPR                    0.838
TPRCGS                1118.0
wr                     -9999
tl                     -9999
tr                     -9999
marker                  35.0
Name: 3506639, dtype: object

In [ ]:
list_patch = df_patch.index[df_patch['marker'] == 284]
list_patch

In [ ]:
list_patch[0]

In [ ]:
for i in range(60000, len(list_patch)):
    df_patch.iloc[list_patch[i], -1] = 285
print(df_patch.index[df_patch['marker'] == 284])

In [ ]:
print(df_patch.index[df_patch['marker'] == 285])

In [ ]:
df_patch

In [ ]:
df_patch.to_csv(f'/home/ubuntu/eSportData/jupyter-data/VU_AMS/s2_output/S2_p137.csv', index=False)

In [ ]:
%system free -m